extend layout
block content
  .form-group
    label(for="sourceText") Source String:
    input#sourceText.form-control(placeholder="Inpput text goes here...")
  .form-group
    label(for="sourceText") Target Language:
    select#destLang.form-control
      each lang in languages
        option(value="#{lang.language}") #{lang.name}
  button.btn.btn-default(type="submit" onclick="getHistory('history-content',$('#sourceText')[0].value,'en',$('#destLang')[0].value,'completed-transaction',useAPI);") Translate & Analyze