extend layout
block content
  h4 Enter Source String
  input#soureText(type="text")
  span.footer Enter source String in English (preferably less than 1,000 character)
  h4 span Enter Destination String
  select
    each lang in languages
      option(value="#{lang.language}") #{lang.name}
  span.footer Select target language
  p
    input(type="submit", value="Translate & Analyze")
