doctype
html(lang="en")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css')
  body
    .jumbotron.text-center
      h1 COGNATIVE COMPANY
      p Text Translations and Social Tone Analyses
      block content
    .container
      .row
        .col-md-6
          h3 Output
          #completed-transaction
        .col-md-6
          h3 History
          #history-content.table-responsive
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://www.amcharts.com/lib/3/amcharts.js")
    script(src="https://www.amcharts.com/lib/3/serial.js")
    script(src="scripts/script.js")